.env
__pycache__/

# from Phil
README_files/
my_readme.md
tf-gpu/ 
README.html
.DS_Store
dvc_local/
src/trials.py

# from Erwin?
/venv_leaf/
dev-erwin/

# DVC ignroes
data/
temp/
models/production_model.keras

# python local package
src.egg-info/*.*