python-dotenv
tensorflow==2.12.0  # pinning this because in the fastapi-app container this version is installed due to the python:3.8-slim base image
numpy
pandas
matplotlib
Pillow
kagglehub
json5
tqdm
mlflow
fastapi
uvicorn
tenacity
python-multipart
setuptools
-e . # install src/ as package
pytest
httpx
requests
flake8
apache-airflow
celery
redis
dvc
dvc[s3]
