fastapi
uvicorn
httpx
scikit-learn
xgboost
tensorflow>=2.8
numpy
pandas
matplotlib
Pillow
kagglehub
json5
tensorflow
tqdm
mlflow
docker
kubernetes
prometheus_client
grafana-client
apache-airflow
celery
redis
sqlalchemy
loguru
pytest
scipy
seaborn
plotly
python-dotenv
pathlib
dvc
setuptools
-e . # install src/ as package
pytest
httpx
requests