fastapi
uvicorn
httpx
scikit-learn
xgboost
tensorflow>=2.8
numpy
pandas
matplotlib
Pillow
kagglehub
json5
tensorflow-metal
tensorflow-macos
tqdm
mlflow
docker
kubernetes
prometheus_client
grafana-client
apache-airflow
celery
redis
psycopg2
sqlalchemy
loguru
pytest
scipy
seaborn
plotly
python-dotenv